.rform-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007e;
}

.rbg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.rform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #ffffffde;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 6px rgba(154, 103, 53, 0.1); /* light brown shadow */
}

.rtitle {
  font-size: 28px;
  color: #55883B;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.rtitle .dot {
  color: #C1E899;
  font-size: 42px;
  margin-left: 4px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

.rmessage {
  color: #9A6735;
  font-size: 14px;
}

.rsignin {
  color: #9A6735;
  font-size: 14px;
  text-align: center;
}

.rsignin a {
  color: #55883B;
  text-decoration: none;
}

.rsignin a:hover {
  text-decoration: underline;
}

.rflex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.rform label {
  position: relative;
}

.rform label .rinput {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(154, 103, 53, 0.4);
  border-radius: 10px;
  font-size: 16px;
}

.rform label .rinput + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.rform label .rinput:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.rform label .rinput:focus + span,
.rform label .rinput:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
  color: #55883B;
}

.rsubmit {
  width: 100%;
  border: none;
  outline: none;
  background-color: #55883B;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  cursor: pointer;
}

.rsubmit:hover {
  background-color: #9A6735;
}

.rerror-message {
  color: #9A6735;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}